/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General css styles */

body {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        background-color: black;
            
/* Generic project style */
         color: whitesmoke;
         font-family: 'Philosopher', sans-serif;
}



/* hero image style idea taken from Love Running Project */

#hero {
    height: 600px;
    width: 100%;
    background: url("../images/heroimage.webp") no-repeat center center/cover;
    position: relative;
    /* added animation to the hero section */
    opacity: 1;
    animation: fadeIn 2s ease-in;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Info section on first page */
#info-section {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}
#first-info h2, h3 {
    text-align: center;
    justify-content: center;
}

#cover-text {
    font-size: 150%;
    position: absolute;
    bottom: 30px;
    width: 80%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
}

/* Header styles taken from https://www.w3schools.com/howto/howto_css_responsive_header.asp */
.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}

/* Header links style */
.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

/* Header logo style */
.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

/* Background for hover effect */
.header a:hover {
  background-color: #ddd;
  color: black;
}

/* Styles for active link */
.header a.active {
  background-color: dodgerblue;
  color: white;
}

/* Float the link section to the right */
.header-right {
  float: right;
}

h1 {
    font-family: 'Philosopher', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: black;
}

/* Footer styles taken form the Love Running Project */

#social-network {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-network i {
    font-size: 160%;
    padding: 5%;
    color: whitesmoke;
}

/* Media querie for responsiveness with a max width of 500px */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}